.success-msg {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #eee;
    border-left-width: 1px;
    border-radius: 3px;
    border-left: 4px solid green;
    /*	display:inline-block;*/
}

.danger-msg {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #eee;
    border-left-width: 1px;
    border-radius: 3px;
    border-left: 4px solid red;
    /*	display:inline-block;*/
}

.search_display1 {
    border: 1px solid black;
    border-left: 4px solid red;
    border-radius: 3px 3px 3px 3px;
    font-size: 16px;
    background-color: black;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    display: inline-block;
}

.bg-image-header-two {
    background-image: url('/repertory/img/grad.png');
    background-size: 100% 100%;
    margin-bottom: 10px;
    padding-top: 50px;
}



.badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  .badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
  .badge-error {
    background-color: #b94a48;
  }
  .badge-error:hover {
    background-color: #953b39;
  }
  .badge-warning {
    background-color: #f89406;
  }
  .badge-warning:hover {
    background-color: #c67605;
  }
  .badge-success {
    background-color: #468847;
  }
  .badge-success:hover {
    background-color: #356635;
  }
  .badge-info {
    background-color: #3a87ad;
  }
  .badge-info:hover {
    background-color: #2d6987;
  }
  .badge-inverse {
    background-color: #333333;
  }
  .badge-inverse:hover {
    background-color: #1a1a1a;
  }